input {
  margin: 2px;
}
input:invalid {
  border:solid red;
}
span[id^="warning"]{
  color: red;
}
input[type="file"] {
  display: none;
}
input[type="number"]{
  width: 5em;
}
textarea {
  width: 100%;
}
.button {
  background-color: lightgray;
  border: 1px solid gray;
  display: inline-block;
  padding: 3px 12px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
.button:hover {
  background-color: lightsteelblue;
  border: 1px solid blue;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
svg {
  min-width: 600px;
  width: 100%;
  height: 100%;
}
div {
  padding: 2px;
}